*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Inter', sans-serif;
}
body
{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
#matt
{
    position: fixed;

    top: 0;
    left: 0;
    padding-bottom: 100px;
    padding-left: 150px;
    width: 500px;
    transform: scaleX(6);
}