*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Inter', sans-serif;
    
}
header
{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s ease;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    backdrop-filter: saturation(1.5);
}
header .logo
{
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceDown 1s ease;
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceDown3 1s ease;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border:3px solid rgb(0, 128, 255,.5);
    
    
}
header ul li a:hover
{
    background:rgba(118, 184, 250, 0.5);
    color: #000000;
}
.gallery
{
    padding-top: 100px;
    padding-left: 30px;
}
#carazwide
{
    
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#caraztrunk
{
    height: 400px;
    object-fit: cover;
    align-items: center;
    
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#WRXPic12
{
    object-fit: cover;
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#WRXPic2
{
    object-fit: cover;
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#WRXPic7
{
    object-fit: cover;
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#WRXPic1055
{
    object-fit: cover;
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#WRXPic1057
{
    object-fit: cover;
    transition: transform .2s ease;
    transition: filter .2s ease;
}
#carazwide:hover, #caraztrunk:hover, #WRXPic12:hover, #WRXPic2:hover, #WRXPic7:hover, #WRXPic1055:hover, #WRXPic1057:hover {
    transform: scale(1.03);
    border-radius: 25px;
}


@keyframes slowlyMove {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-300px);
       transform: translateX(400px);
    }
    100% {
       transform: translateY(300px);
       transform: translateX(-400px);
    }
    
}
@keyframes slowlyMove2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-00px);
       transform: translateX(-400px);
    }
    100% {
       transform: translateY(-300px);
       transform: translateX(400px);
    }
    
}
@keyframes extend {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

@keyframes bounceUp{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceUp2{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    10%{
        opacity: .25;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown2{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    10% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown3{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    20% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}