
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Inter', sans-serif;
}
body
{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
header
{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s ease;
    
    
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceDown 1s ease;
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceDown3 1s ease;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: bold;
    
    
}
header ul li a:hover
{
    background-color: #ffffff;
    color: #000000;
}
section
{
    display: flex;
    justify-content: left;
    align-items: left;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}
#text
{
    position: fixed;
    text-align: left;
    padding-top: 32vh;
    padding-left: 10%;
    font-size: 120px;
    animation: bounceUp 1s ease;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#portfolio
{
    position: fixed;
    text-align: left;
    padding-top: 46vh;
    padding-left: 10%;
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bounceUp2 1s ease; 
    font-weight: bold;
}
.button
{
    position: relative;
    width: 10px;
    height: 10px;
    padding-left: 10vh;
}
#circle {
    position: fixed;
    background: lightblue;
    border-radius: 50%;
    align-items: center;
    filter: blur(500px);
    width: 500px;
    height: 500px;
    animation: slowlyMove 30s infinite;
}
#circleWhite {
    position: fixed;
    background: rgb(255, 97, 97);
    border-radius: 50%;
    margin-left: 100vw;
    width: 500px;
    height: 500px;
    filter: blur(400px);
    animation: slowlyMove2 30s ease infinite;
    
}
















@keyframes slowlyMove {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-300px);
       transform: translateX(400px);
    }
    100% {
       transform: translateY(300px);
       transform: translateX(-400px);
    }
    
}
@keyframes slowlyMove2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-00px);
       transform: translateX(-400px);
    }
    100% {
       transform: translateY(-300px);
       transform: translateX(400px);
    }
    
}
@keyframes extend {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

@keyframes bounceUp{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceUp2{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    10%{
        opacity: .25;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown2{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    10% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown3{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    20% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
