
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body
{
    background: #000000;
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a:hover
{
    background:#fff;
    color: #7597de;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shapes
{
    position: absolute;
    top: 0;
    left: 0;
    width: 201%;
    height: 300%;
    object-fit: cover;
    pointer-events: none;
}
#nick2
{
    transform: translateX(-500px);
    position: absolute;
    top: 0;
    left: 0;
    width: 201%;
    height: 300%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 90px;
    z-index: 9;
    text-shadow: 2px 2px 20px black;
    animation: bounceUp .5s;
}
#portfolio
{
    display: inline-block;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    position: absolute;
    padding-top: 180px;
    animation: bounceUp .5s;
    text-shadow: 2px 2px 20px black;
    
    
}
#downarrow
{
    position: absolute;
    
    padding-top: 400px;
    transform: scale(20);
    z-index: 10;
}
@keyframes bounceUp{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}
button
{
    width: 200px;
    font-size: .9vw;
    padding: 14px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 24px;
    border: 4px solid #7597de;
    background: transparent;
    color: #fff;
    position: relative;
    transform: translateY(100px);   
}
span
{
    background: #7597de;
    height: 105%;
    width: 0;
    border-radius: 45px;
    position: absolute;
    left: -1px;
    bottom: -1.3px;
    z-index: -1;
    transition: .2s;
}
button:hover span{
    width: 101%;
}
.sec
{
    position: relative;
    padding: 100px;
    padding-top: 0px;
}
.sec h2
{
    font-size: 3.5em;
    font-family: sans-serif;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 15px 15px 15px #000000;
    
}
.sec p
{
    font-size: 1.2em;
    color: #fff;
}
