
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body
{
    background: #000000;
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
header ul li a:hover
{
    background:#fff;
    color: #7597de;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 90px;
    z-index: 9;
}
button
{
    width: 200px;
    font-size: .9vw;
    padding: 14px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 24px;
    border: 4px solid #7597de;
    background: transparent;
    color: #fff;
    position: relative;
    transform: translateY(100px);   
}
span
{
    background: #7597de;
    height: 105%;
    width: 0;
    border-radius: 45px;
    position: absolute;
    left: -1px;
    bottom: -1.3px;
    z-index: -1;
    transition: .2s;
}
button:hover span{
    width: 101%;
}
.sec
{
    position: relative;
    padding: 100px;
    background: #222222;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1.2em;
    color: #fff;
}