
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-image: url('images/nickBackground.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
header
{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s ease;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceDown 1s ease;
    text-shadow: 2px 2px 10px black;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceDown3 1s ease;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border:2px solid rgb(0, 128, 255,.5);
    text-shadow: 2px 2px 10px black;
    
}
header ul li a:hover
{
    background:rgb(0, 128, 255,.5);
    color: #ffffff;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#text
{
    position: relative;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 90px;
    z-index: 9;
    animation: bounceUp 1s ease;
    user-select: none;
}
#portfolio
{
    display: inline-block;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    position: absolute;
    padding-top: 180px;
    z-index: 9;
    animation: bounceUp2 1s ease; 
    user-select: none;
}
#shapes
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
    user-select: none;
}

@keyframes bounceUp{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceUp2{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    10%{
        opacity: .25;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown2{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    10% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown3{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    20% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
.sec
{
    position: relative;
    padding: 100px;
    padding-top: 100px;
    background-color: rgb(0, 0, 0,.5);
    backdrop-filter: blur(40px);
    z-index: 2;
    user-select: none;
    resize: vertical;
}
.sec h2
{
    font-size: 3.5em;
    font-family: sans-serif;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    user-select: none;
}
.sec p
{
    font-size: 1.6em;
    text-align: left;
    margin-right: 60vh;
    color: rgb(255, 255, 255);
    line-height: 30px;
    user-select: none;
}
