
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Inter', sans-serif;
}
body
{
    background: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}
header
{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s ease;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceDown 1s ease;
    text-shadow: 2px 2px 10px black;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceDown3 1s ease;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border:2px solid rgb(0, 128, 255,.5);
    text-shadow: 2px 2px 10px black;
    
}
header ul li a:hover
{
    background:rgb(0, 128, 255,.5);
    color: #ffffff;
}
section
{
    position: fixed;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    justify-content: left;
    align-items: left;
}
#text
{
    display: inline-block;
    padding-top: 30vh;
    padding-left: 11.5vh;
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 90px;
    z-index: 9;
    animation: bounceUp 1s ease;
}
#portfolio
{
    display: inline-block;
    padding-left: 11.5vh;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 40vh;
    position: fixed;
    animation: bounceUp2 1s ease; 
}
.line hr 
{
    position: fixed;
    margin-top: 48vh;
    margin-left: 11.7vh;
    height: 7px;
    width: 100px;
    background-color: white;
    animation: bounceUp2 1s ease;
    
}
#circle {
    background: lightblue;
    border-radius: 50%;
    align-items: center;
    filter: blur(100000px);
    width: 500px;
    height: 500px;
    animation: slowlyMove 30s infinite;
}
#circleWhite {
    background: red;
    border-radius: 50%;
    margin-left: 100vw;
    width: 500px;
    height: 500px;
    filter: blur(1000px);
    animation: slowlyMove2 30s ease infinite;
    
}















@keyframes slowlyMove {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-300px);
       transform: translateX(400px);
    }
    100% {
       transform: translateY(300px);
       transform: translateX(-400px);
    }
    
}
@keyframes slowlyMove2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-00px);
       transform: translateX(-400px);
    }
    100% {
       transform: translateY(-300px);
       transform: translateX(400px);
    }
    
}
@keyframes extend {
    0% {
        width: 100px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 100px;
    }
}

@keyframes bounceUp{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceUp2{
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    10%{
        opacity: .25;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown2{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    10% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
@keyframes bounceDown3{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    20% {
        opacity: .25;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}
