*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Inter', sans-serif;
}
header
{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    animation: bounceDown .5s ease;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    backdrop-filter: saturation(1.5);
}
header .logo
{
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: bounceDown 1s ease;
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceDown3 1s ease;
    font-weight: bold;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
header ul li a:hover
{
    background:rgba(0, 0, 0);
    color: #ffffff;
}